.container {
  height: 100%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  color: rgb(58,58,58);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Loading-Icon {
  position: absolute;
  top: 35vh;
  left: 50%;
  font-size: 5rem;
}

@media only screen and (max-width: 600px) {
  .Loading-Icon {
    left: 45%;
  }
}

.Email-Confirmation-Link {
  text-decoration: none;
  color: rgb(58,58,58);
}

.Email-Confirmation-Link:hover {
  color: white;
}