.container {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  color: rgb(58,58,58);
}

.Loading-Icon {
  position: absolute;
  top: 35vh;
  left: 50%;
  font-size: 5rem;
}

@media only screen and (max-width: 600px) {
  .Loading-Icon {
    left: 45%;
  }
}