.Auth-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 0;
}

.Auth-Form .Form {
  background-color: white;
  display: flex;
  width: 30%;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 6px rgb(99, 96, 96);
}

.Auth-Form .Input {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin: 1rem 0;
}

.Auth-Form .Input-Label {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(58,58,58);
  margin-bottom: 0.5rem;
}

.Auth-Form .Input-Field {
  height: 2.5rem;
  font-size: 1.75rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 0 0 3px black;
}

.Auth-Form .Form-SubmitArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 8rem;
  background-color: rgba(211, 211, 211, 0.384);
  border-radius: 0.25rem;
}

.Auth-Form .Form-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  margin: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

.Auth-Form .Main-Button {
  background-color: rgb(58,58,58);
  color: whitesmoke;
}

.Auth-Form .Form-Button:only-child {
  margin: 0 auto;
}

.Auth-Form .Extra-Button {
  background-color: white;
  color: rgb(58,58,58);
  text-decoration: none;
}


.Auth-Form .Main-Button:active {
  background: whitesmoke;
  color: rgb(58,58,58);
  -webkit-box-shadow: inset 0px 0px 5px rgb(58,58,58);
     -moz-box-shadow: inset 0px 0px 5px rgb(58,58,58);
          box-shadow: inset 0px 0px 5px rgb(58,58,58);
   outline: none;
}

.Auth-Form .Main-Button:focus {
  background: whitesmoke;
  color: rgb(58,58,58);
  -webkit-box-shadow: inset 0px 0px 5px rgb(58,58,58);
     -moz-box-shadow: inset 0px 0px 5px rgb(58,58,58);
          box-shadow: inset 0px 0px 5px rgb(58,58,58);
   outline: none;
}

@media only screen and (max-width: 600px) {
  .Auth-Form .Form {
    width: 100%;
  }
}