.ContentItem {
  position: relative;
  height: fit-content;
  display: flex;
  word-wrap: break-word;
  word-break:break-all;
  overflow-wrap: break-word;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgb(58,58,58);
  background-color: white;
  padding: 0 1rem;
  margin: 1rem 0;
}

.ContentItem.post {
  width: 80%;
  font-size: 2rem;
}

.ContentItem.comment {
  width: 50%;
  font-size: 1.5rem;
}

.ContentItem-User {
  height: fit-content;
  position: absolute;
  font-weight: 600;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}

.ContentItem-Content {
  font-weight: 400;
  margin-top: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
}

.ContentItem-Options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContentItem-Option {
  margin: 0.5rem 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(58,58,58);
  user-select: none;
  padding: 0;
}

.ContentItem-Option.rate {
  margin: 0;
}

.ContentItem-Option.text {
  cursor: default;
  margin: 0;
  font-weight: 600;
}