.Delete-Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem;
}

.Delete-Info {
  font-size: 1.5rem;
}

.Delete-Account-Button {
  background-color: whitesmoke;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  color: rgb(255, 82, 82);
  border: none;
  outline: none;
  box-shadow: 0 0 3px red;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

.Delete-Account-Button:hover {
  background-color: rgb(255, 82, 82);
  color: whitesmoke;
}