.Home-Download-Image {
  width: 20rem;
  height: 10rem;
}

.Downloads {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Home {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Home-Header {
  font-weight: 400;
  font-size: 3rem;
}