.Modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  left: 10%;
  width: 75vw;
  height: 75vh;
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 0 3px rgb(58,58,58);
  animation: 250ms ease-out 0s 1 fadeIn;
}

.Modal-Close {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(58,58,58);
}

.Modal-Close:hover {
  color: rgb(134, 134, 134);
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.Modal-Title {
  font-size: 3rem;
}