.Post {
  position: relative;
  width: 80%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgb(58,58,58);
  background-color: white;
  padding: 0 1rem;
  margin: 1rem 0;
}

.Post-User {
  height: fit-content;
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  top: 0.5rem;
  left: 0.5rem;
}

.Post-Content {
  font-size: 2rem;
  font-weight: 400;
  width: 90%;
  display: flex;
  align-items: center;
}

.Post-Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.Post-Item {
  margin: 0.5rem 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(58,58,58);
  user-select: none;
  padding: 0;
}

.Post-Item.rate {
  margin: 0;
}

.Post-Item.text {
  cursor: default;
  margin: 0;
  font-weight: 600;
}