.Settings-Sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  left: -6%;
  width: 40%;
  height: 100vh;
  background-color: rgb(58,58,58);
  color: white;
}

.Settings-Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 34%;
  width: 70%;
  height: 100vh;
  margin: 0;
}

.Settings-Sidebar-Header {
  align-self: center;
}

.Settings-Sidebar-Content {
  align-self: flex-start;
  margin-left: 6%;
  color: rgb(121, 121, 121);
  width: 90%;
}

.Settings-Sidebar-Option {
  cursor: pointer;
  margin: 2rem 0;
  border-radius: 0.25rem;
}

.Settings-Sidebar-Content .active {
  color: whitesmoke;
  border-left: 4px solid rgb(221, 221, 255);
  padding: 1rem;
  background-color: rgb(92, 92, 92);
}

#settings-delete-option {
  color: rgb(255, 129, 129);
}

#settings-delete-option.active {
  background-color: rgb(255, 0, 0);;
  color: whitesmoke;
  border-left: 4px solid rgb(255, 129, 129);;
}